{% extends "base.html" %}
{% block title %}
Pagina non trovata
{% endblock title %}
{% block sidenav %}
    <li><a href="/">Torna a Guppo Alpini</a></li>
{% endblock sidenav %}
{% block content %}
<h1>Ci sono stati dei problemi</h1>
<p>Probabilmente stai cercando di accedere ad una pagina inensistente.</p>
<p>Torna alla homepage cliccando su "Torna a Gruppo Alpini" e usa le voci nei menu per la consultazione dei contenuti di questo sito.</p>
<p>Grazie - Gruppo Alpini Bareggio</p>
{% endblock content %}